
@model MVCProject.ViewModels.LeaveViewModel
@using MVCProject.Models;

@{
    ViewBag.Title = "Apply Leave";
}


<div id="content" class="container col-md-8 ">
    <!-- Title -->
    <h1>Apply Leave</h1>
    <!-- End Title -->


    <div class="page-content">
        <!-- Apply Leave Form -->
        <div class="card pmd-card single-col-form">
            <form id="apply-leave" method="post" action="/Leave/Apply">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                <label for="leave-type">Leave Type</label>

                                @Html.DropDownListFor(temp => temp.LeaveType, new SelectList(Enum.GetValues(typeof(HTMLHelperDropDownModels.LeaveType))), "Select Leave Type", new { @class = "form-control" })

                            </div>
                        </div>
                        <div class="text-danger">
                            @Html.ValidationMessageFor(temp => temp.LeaveType)
                        </div>

                        <div class="col-md-6">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                @*<label class="control-label" for="datepickerstart">Start Date</label>*@
                                From:
                                <input type="date" class="form-control" id="datepickerstart" name="FromDate" value=@Model.FromDate >
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(temp => temp.FromDate)
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                To:
                                @*<label class="control-label" for="datepickerend">End Date</label>*@
                                <input type="date" class="form-control" id="datepickerend" name="ToDate" value=@Model.ToDate >
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(temp => temp.ToDate)
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label>Reason</label>
                                <textarea class="form-control" id="reason" name="Description">@Model.Description</textarea>
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(temp => temp.Description)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary pmd-ripple-effect pmd-btn-raised" value="Apply Leave">Apply Leave</button> <a href="/home/index" class="btn btn-outline-secondary pmd-ripple-effect">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@*<script>// Add Education start date date and time picker
        $('#datepickerstart').datetimepicker({
            format: 'DD-MM-YYYY'
        });

        // Add Education End date date and time picker
        $('#datepickerend').datetimepicker({
            useCurrent: false,
            format: 'DD-MM-YYYY'
        });

        // start date picker
        $("#datepickerstart").on("dp.change", function (e) {
            $('#datepickerend').data("DateTimePicker").minDate(e.date);
        });
        // end date picker
        $("#datepickerend").on("dp.change", function (e) {
            $('#datepickerstart').data("DateTimePicker").maxDate(e.date);
        });

    </script>*@