@model MVCProject.ViewModels.ProfileViewModel
@using MVCProject.Models;


@{
    ViewBag.Title = "Change Profile";
}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class=" mt-5" width="150px" src=@Model.ImageURL><span class="font-weight-bold">@Model.FName @Model.LName </span><span class="text-black-50">@Model.Email</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-5">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form novalidate="novalidate" action="/profile/edits" method="post" class="needs-validation" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="row mt-3">
                        <div class="col-md-5"><label class="labels">Name : </label> @Model.FName</div> 
                        <div class="col-md-5"><label class="labels">  Surname : </label> @Model.LName </div> 
                    </div>
                            <input name="FName" value=@Model.FName hidden /> <input name="LName" value=@Model.LName hidden />
                    </div> 
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Email ID</label> </div>
                        <div class="col-md-6"><label class="labels"> :  @Model.Email </label></div>
                        <input name="Email" value=@Model.Email hidden />

                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Department</label></div>
                        <div class="col-md-6"><label class="labels"> :  @Model.Department </label></div>
                        <input name="Department" value=@Model.Department hidden />

                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Role</label> </div>
                        <div class="col-md-6"><label class="labels"> :  @Model.Role </label></div>
                        <input name="Role" value=@Model.Role hidden />

                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Project Manager</label></div>
                        <div class="col-md-6"><label class="labels"> :  @Model.PMFName @Model.PMLName </label></div>
                        <input name="PMFName" value=@Model.PMFName hidden />
                        <input name="PMLName" value=@Model.PMLName hidden />

                    </div>

                    <div class="row mt-3">
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Date Of Birth</label><input type="date" class="form-control" name="DOB" value=@Model.DOB.ToString("yyyy-MM-dd")></div>
                            <div class="text-danger">
                                @Html.ValidationMessageFor(temp => temp.DOB)
                            </div>

                            <div class="col-md-12">
                                <label class="labels">Gender</label>
                                @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(HTMLHelperDropDownModels.Gender))), "Select Gender", new { @class = "form-control" })
                            </div>
                            <div class="text-danger">
                                @Html.ValidationMessageFor(temp => temp.Gender)
                            </div>

                            <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" name="Mobile" value=@Model.Mobile ></div>

                            <div class="text-danger">
                                @Html.ValidationMessageFor(temp => temp.Mobile)
                            </div>

                            <div class="col-md-12">
                                <label class="labels">Address</label>
                                <textarea class="form-control" name="Address" rows="2" cols="1" value="@Model.Address">@Model.Address</textarea>
                            </div>
                            <div class="text-danger">
                                @Html.ValidationMessageFor(temp => temp.Address)
                            </div>

                            <div class="col-md-12"><label class="labels">Location</label><input type="text" class="form-control" placeholder="Location" name="Location" value="@Model.Location"></div>
                            <div class="text-danger">
                                @Html.ValidationMessageFor(temp => temp.Location)
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12"><label class="labels">Add New Profile Photo </label><input id="myFile" type="file" class="form-control-file" name="ImageURL" value="@Model.ImageURL"></div>

                            </div>
                        </div>
                        <div class="mt-5 text-center"><button type="submit" class="btn btn-primary profile-button">Update Profile</button></div>
                        <div class="text-danger">
                           @Html.ValidationSummary();
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
