@model MVCProject.ViewModels.HRProfileViewModel
@using MVCProject.Models;

@{
    ViewBag.Title = "Change Profile";
}


<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class=" mt-5" width="150px" src=@Model.ImageURL><span class="font-weight-bold">@Model.FName @Model.LName </span><span class="text-black-50">@Model.Email</span><span> </span></div>
        </div>
        <div class="col-md-6 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form novalidate="novalidate" action="/profile/HREditProfile" method="post" class="needs-validation" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" name="FName" value=@Model.FName></div>
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" name="LName" value=@Model.LName></div>
                    </div>

                    <div class="row mt-3">
                        <div class="row mt-3">
                            <input type="text" name="EmployeeID" value=@Model.EmployeeID hidden>

                            <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" name="Email" value=@Model.Email></div>


                            <div class="col-md-12">
                                <label class="labels">Department</label>
                                @Html.DropDownListFor(m => m.Department, new SelectList(Enum.GetValues(typeof(HTMLHelperDropDownModels.Department))), "Select Department", new { @class = "form-control" })
                            </div>

                            <div class="col-md-12">
                                <label class="labels">Role</label>
                                @Html.DropDownListFor(m => m.Role, new SelectList(Enum.GetValues(typeof(HTMLHelperDropDownModels.Role))), "Select Role", new { @class = "form-control" })
                            </div>

                            <div class="col-md-12"><label class="labels">Date Of Birth</label><input type="date" class="form-control" name="DOB" value=@Model.DOB.ToString("yyyy-MM-dd")></div>
                           
                                <div class="col-md-12">
                                    <label class="labels">Project Manager</label>
                                    @Html.DropDownListFor(m => m.ProjManagerID, new SelectList(ViewBag.PMList, "EmployeeID", "FName"), new { @class = "form-control" })
                                </div>

                            
                            <div class="col-md-12">
                                <label class="labels">Gender</label>
                                @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(HTMLHelperDropDownModels.Gender))), "Select Gender", new { @class = "form-control" })

                            </div>
                        </div>

                            <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" name="Mobile" value="@Model.Mobile"></div>
                            <div class="col-md-12">
                                <label class="labels">Address</label>

                                <textarea class="form-control" name="Address" rows="3" cols="20" value="@Model.Address">
                                        @Model.Address
                                    </textarea>
                            </div>
                            <div class="col-md-12"><label class="labels">Location</label><input type="text" class="form-control" placeholder="Location" name="Location" value="@Model.Location"></div>
                            <div class="row mt-3">
                                <div class="col-md-12"><label class="labels">Add New Profile Photo </label><input id="myFile" type="file" class="form-control-file" name="ImageURL" value="@Model.ImageURL"></div>

                            </div>
                        </div>
                            <div class="mt-5 text-center"><button type="submit" class="btn btn-primary profile-button">Update Profile</button></div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

