@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>




    @Styles.Render("~/Styles/bootstrap");
    @Scripts.Render("~/Scripts/bootstrap");
    @Styles.Render("~/Styles/custom/bootstrap");
    @Scripts.Render("~/Scripts/custom/bootstrap");

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>

    <body>
        @RenderBody()
        <div class="page-wrapper pinned default-theme sidebar-bg bg1 toggled">
            <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                    <!-- sidebar-brand  -->
                    <div class="sidebar-item sidebar-brand">
                        <a href="#">Leave Management</a>
                    </div>

                    @if (Session["CurrentUserName"] == null)
                    {
                        <div class=" sidebar-item sidebar-menu">
                            <ul>
                                <li class="header-menu">
                                    <span>User</span>
                                </li>
                                <li>
                                    <a href="/account/login">
                                        <i class="fas fa-fingerprint"></i>
                                        <span class="menu-text">Login</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    }
                    else
                    {

                        <!-- sidebar-header  -->
                        <div class="sidebar-item sidebar-header d-flex flex-nowrap">
                            <div class="user-pic">
                                <img class="img-responsive img-rounded" src=@Session["CurrentUserProfilePhoto"] alt="Profile Photo">
                            </div>
                            <div class="user-info">
                                <span class="user-name">
                                    <strong>@Session["CurrentUserName"]</strong>
                                </span>
                                <span class="user-role">@Session["CurrentUserRole"]</span>
                                <span class="user-role">@Session["CurrentUserDepartment"]</span>
                                <span class="user-status">
                                    <i class="fa fa-circle"></i>
                                    <span>Online</span>
                                </span>
                            </div>
                        </div>
                    }



                    <!-- sidebar-search  -->
                    <div class="sidebar-item sidebar-search">
                        <div>
                            <div class="input-group">
                                
                                <input type="search" class="form-control search-menu" placeholder="Search...">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sidebar-menu  -->


                    <div class=" sidebar-item sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>General</span>
                            </li>
                            <li>
                                <a href="/home/index">
                                    <i class="fa fa-home"></i>
                                    <span class="menu-text">Home</span>
                                </a>
                            </li>
                            @if (Session["CurrentUserRole"] != null)
                            {
                                if (Session["CurrentUserRole"].ToString() == "Employee")
                                {
                                    <li class="sidebar-dropdown">
                                        <a href="#">
                                            <i class="far fa-address-card"></i>
                                            <span class="menu-text">My Profile</span>
                                            <span class="badge badge-pill badge-danger">2</span>
                                        </a>
                                        <div class="sidebar-submenu">
                                            <ul>
                                                <li>
                                                    <a href="/profile/views">View</a>
                                                </li>
                                                <li>
                                                    <a href="/profile/edits">Edit</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sidebar-dropdown">
                                        <a href="#">
                                            <i class="fas fa-glass-cheers"></i>
                                            <span class="menu-text">Leave</span>
                                            <span class="badge badge-pill badge-danger">2</span>
                                        </a>
                                        <div class="sidebar-submenu">
                                            <ul>
                                                <li>
                                                    <a href="/leave/apply">Leave Request</a>
                                                </li>
                                                <li>
                                                    <a href="/leave/viewall">Leave Status</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                }

                                if (Session["CurrentUserRole"].ToString() == "Project_Manager")
                                {
                                    <li class="sidebar-dropdown">
                                        <a href="#">
                                            <i class="far fa-address-card"></i>
                                            <span class="menu-text">My Profile</span>
                                            <span class="badge badge-pill badge-danger">2</span>
                                        </a>
                                        <div class="sidebar-submenu">
                                            <ul>
                                                <li>
                                                    <a href="/profile/views">View</a>
                                                </li>
                                                <li>
                                                    <a href="/profile/edits">Edit</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="sidebar-dropdown">
                                        <a href="#">
                                            <i class="fas fa-book"></i>
                                            <span class="menu-text">Request</span>
                                            <span class="badge badge-pill badge-danger">2</span>
                                        </a>
                                        <div class="sidebar-submenu">
                                            <ul>
                                                <li>
                                                    <a href="/leave/allrequest">All Request</a>
                                                </li>
                                                <li>
                                                    <a href="/leave/PendingRequest">Pending Request</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                }

                                if (Session["CurrentUserRole"].ToString() == "HR")
                                {
                                    @*<li class="sidebar-dropdown">
                                        <a href="#">
                                            <i class="far fa-address-card"></i>
                                            <span class="menu-text">My Profile</span>
                                            <span class="badge badge-pill badge-danger">2</span>
                                        </a>
                                        <div class="sidebar-submenu">
                                            <ul>
                                                <li>
                                                    <a href="/profile/views">View</a>
                                                </li>
                                                <li>
                                                    <a href="/profile/edits">Edit</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>*@
                                    <li class="sidebar-dropdown">
                                        <a href="#">
                                            <i class="fas fa-book"></i>
                                            <span class="menu-text">Employee</span>
                                            <span class="badge badge-pill badge-danger">2</span>
                                        </a>
                                        <div class="sidebar-submenu">
                                            <ul>
                                                <li>
                                                    <a href="/profile/HREmployeeView">View All </a>
                                                </li>
                                                <li>
                                                    <a href="/profile/AddNewEmployee">Add New</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    if(Session["IsSpecialPermission"] is true)
                                    {
                                        <li class="sidebar-dropdown">
                                            <a href="#">
                                                <i class="fas fa-glass-cheers"></i>
                                                <span class="menu-text">Leave Request</span>
                                                <span class="badge badge-pill badge-danger">2</span>
                                            </a>
                                            <div class="sidebar-submenu">
                                                <ul>
                                                    <li>
                                                        <a href="/leave/hrallrequest">All Request</a>
                                                    </li>
                                                    <li>
                                                        <a href="/leave/PendingRequest">Pending Request</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    }


                                }



                            }


                    <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-footer  -->
                <div class="sidebar-footer">
                    
                    
                    <div>
                        <a href="/account/Logout">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </div>
                    <div class="pinned-footer">
                        <a href="">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
